@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSans-Medium";
  src: url("../public/assets/fonts/static/DMSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "DMSans-MediumItalic";
  src: url("../public/assets/fonts/static/DMSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url("../public/assets/fonts/static/DMSans-Regular.ttf");
}
